.header {
  display: flex;
  background-color: #e7985c;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

.header svg {
  cursor: pointer;
  height: 35px;
}

.menu > ul {
  display: flex;
  list-style: none;
}

.menu > ul > li {
  margin-left: 20px;
}

.icon {
  color: #f1fffa;
  width: 30px;
  transition: 0.2s;
}

.icon:hover {
  cursor: pointer;
  color: #785964;
}

.configuracoes {
  width: 30px;
  color: #f1fffa;
  list-style: none;
}

.configuracoes:hover {
  cursor: pointer;
  color: #785964;
}

.submenu {
  position: absolute;
  background-color: #e7985c;
  margin-top: 55px;
  right: 0;
  display: none;
  padding: 0;
}

.submenu > li {
  width: 160px;
  list-style: none;
  padding: 10px;
  border-top: 1px solid #f1fffa;
}

.submenu > li:hover {
  background-color: #c28150;
  cursor: pointer;
}
