.main {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
}

.busca {
  background-color: #e7985c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  margin: 100px 0px 0px 30px;
  padding: 30px;
  border-radius: 10px;
  height: 80vh;
}

.busca h2 {
  text-align: center;
}

.lista {
  list-style-type: none;
  margin: 100px auto;
  width: 80%;
}

.card {
  background-color: #f5f1ef;
  box-shadow: 2px 2px 2px #f5f1ef;
  height: 200px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}

.card img {
  border-radius: 10px;
}

.leftColumn {
  display: flex;
  align-items: center;
}

.rightColumn {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card button {
  width: 150px;
  align-self: flex-end;
  height: 40px;
  background-color: #e7985c;

  border: none;

  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
}

.card button:hover {
  background-color: rgb(194, 141, 101);
  cursor: pointer;
}
