.lojas {
    background-color: rgba(128, 128, 128, 0.411);
    list-style-type: none;
    padding: 30px;
    margin: 20px 0;
}

.icons {
    color: white;
}

.main {
    display: flex;
}

.main > div:nth-child(1) {
    height: 400px;
    background-color: rgba(173, 132, 132, 0.411);
    margin: 20px 30px;
    padding: 10px;
}
.main > div:nth-child(2) {
    width: 80vw;
}

@media screen and (max-width: 600px) {
    .main {
        display: block;
        transition: 1s;
    }
    .main > div:nth-child(1) {
        background-color: aqua;
        height: 40px;
        display: flex;
        margin: 0;
        width: 600px;
    }

   
}